<p>profile works!</p>
<div *ngIf="profile">
    <div class="card">
        <div class="card-header">
            {{profile.name}} <small>({{profile.login}})</small>
            <span *ngIf="profile.company">, Works at {{profile.company}}</span> in
            {{profile.location}}.
        </div>

        <div class="card-body">
            <div class="row">
                <div class="col-md-5">
                    <img src="{{profile.avatar_url}}" class="rounded-circle img-responsive" alt="Profile Avatar"
                        data-holder-rendered="true" style="width: 90%;">
                </div>
                <div class="col-md-5">
                    <ul class="list-group">
                        <li class="list-group-item" *ngIf="profile.bio">
                            {{profile.bio}}
                        </li>
                        <li class="list-group-item" *ngIf="profile.hireable">
                            Available for hire
                        </li>
                        <li class="list-group-item" *ngIf="profile.blog"><a href="{{profile.blog}}"
                                target="_blank">{{profile.blog}}</a>
                        </li>
                        <li class="list-group-item" *ngIf="profile.email"><a
                                href="emailto:{{profile.email}}">{{profile.email}}</a>
                        </li>
                    </ul>
                </div>

            </div>
        </div>





    </div>

</div>
